/*==========  section home  ==========*/
.home-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.home-slider-wrapper {
  width: calc(100% - 440px);
  padding: 0 25px 0 0;
  position: relative; }
  .home-slider-wrapper .slider-nav-column {
    position: absolute;
    top: 0;
    right: 41px; }

.home-slider {
  position: relative;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(31, 38, 102, 0.74)), to(rgba(31, 38, 102, 0.74))), url("../img/slide-bg.jpeg") no-repeat center, #1F2666;
  background: linear-gradient(0deg, rgba(31, 38, 102, 0.74), rgba(31, 38, 102, 0.74)), url("../img/slide-bg.jpeg") no-repeat center, #1F2666;
    background-size: cover;
  color: #fff;
  padding: 100px 128px 77px; }

.home-slider-title {
  font-size: 45px;
  font-weight: bold;
  margin: 0 0 94px; }

.home-navigation {
  max-width: 440px;
  width: 100%; }
  .home-navigation__link {
    width: 100%;
    height: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #fff;
    margin: 0 0 20px;
    font-size: 20px;
    font-weight: bold;
    padding: 0 28px;
    background: -webkit-gradient(linear, right top, left top, color-stop(-5.69%, #7D87E2), color-stop(60.76%, #1F2666));
    background: linear-gradient(270deg, #7D87E2 -5.69%, #1F2666 60.76%); }
    .home-navigation__link:hover {
      background: -webkit-gradient(linear, left top, right top, color-stop(-5.69%, #7D87E2), color-stop(60.76%, #1F2666));
      background: linear-gradient(-270deg, #7D87E2 -5.69%, #1F2666 60.76%);
      color: #fff; }
    .home-navigation__link:last-child {
      margin: 0; }

/*==========  section home end  ==========*/
/*==========  section advantages ==========*/
.advantages {
  margin: 38px 0 50px; }

.advantages-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #F8F8F8;
  max-width: 502px;
  width: 100%;
  font-size: 18px;
  padding: 29px 56px; }
  .advantages-box__icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 64px;
    height: 64px;
    min-width: 64px;
    margin: 0 42px 0 0;
    background: #1F2666; }

/*==========  section advantages end  ==========*/
/*==========  section category-section ==========*/
.category-section .container {
  position: relative; }

.decor {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.decor1 {
  right: -40px;
  top: 320px; }

.decor2 {
  right: -100px;
  top: 60px; }

.decor3 {
  left: -50px;
  top: 30px; }

.category-links {
  width: 100%;
  max-width: 354px;
  margin: 0 auto;
  min-height: 96px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 21px 44px 21px 60px;
  border: 1px solid #E8E8E8;
  background: -webkit-gradient(linear, left bottom, left top, from(#FFFFFF), to(#FFFFFF)), #C4C4C4;
  background: linear-gradient(0deg, #FFFFFF, #FFFFFF), #C4C4C4;
  font-size: 20px;
  font-weight: 600;
  color: #4F6C9B; }
  .category-links__icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 57px;
    height: 13px;
    fill: #fff;
    margin: 0 0 0 auto; }
  .category-links:hover {
    background: #1F2666;
    color: #fff;
    border-color: #4753BD; }
  .category-links.active {
    background: #1F2666;
    color: #fff;
    border-color: #4753BD; }

/*==========  section category-section end  ==========*/
/*==========  section products ==========*/
.products {
  margin: 60px 0 50px; }

.product-card {
  width: 100%;
  height: 100%;
  background: linear-gradient(180.04deg, rgba(255, 255, 255, 0.2) 0.03%, rgba(255, 255, 255, 0.2) 73.51%), #F8F8F8;
  border-radius: 15px;
  position: relative;
  padding: 32px 70px 34px; }
  .product-card__price {
    margin: 23px 0 0;
    padding: 15px 45px;
    background: #1F2666;
    border-radius: 7px;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transition: .3s ease;
    transition: .3s ease; }
    .product-card__price:hover {
      color: #fff; }
      .product-card__price:hover .icon-arrow {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex; }
  .product-card__img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 auto;
    border-radius: 15px;
    max-width: 227px;
    width: 100%;
    height: 221px; }
    .product-card__img img {
      max-height: 100%; }
  .product-card__body {
    width: 100%;
    padding: 24px 0 0; }
  .product-card__title {
    color: #000;
    font-size: 20px;
    margin: 0 0 13px; }
    .product-card__title:hover {
      color: #1F2666; }
  .product-card .box-text {
    color: #6D6D6D;
    font-size: 14px; }

.icon-arrow {
  display: none;
  margin: 0 0 0 29px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 29px;
  height: 14px;
  fill: #fff; }

.availability-box {
  position: absolute;
  z-index: 1;
  top: 27px;
  right: 27px;
  background: #1857BD;
  border-radius: 15px;
  color: #fff;
  padding: 10px 20px;
  font-size: 14px;
  font-weight: 600; }

.availability-box-order {
  background: #FF881A; }

/*==========  section products end  ==========*/
/*==========  section stages-order ==========*/
.stages-order {
  padding: 37px 0;
  background: -webkit-gradient(linear, left top, left bottom, from(white), to(ghostwhite));
  background: linear-gradient(to bottom, white 0%, ghostwhite 100%); }
  .stages-order .container {
    position: relative; }

.decor5 {
  left: -108px;
  top: -30px; }

.decor6 {
  right: -88px;
  top: 0; }

.stages-order-box {
  background: rgba(255, 255, 255, 0.95);
  padding: 29px 29px 29px 80px;
  max-width: 445px;
  width: 100%;
  margin: 0 0 0 auto; }
  .stages-order-box .box-text {
    max-width: 298px; }
  .stages-order-box h2 {
    text-align: left; }
  .stages-order-box .box-text {
    color: #1F2666;
    font-size: 18px; }
  .stages-order-box .btn {
    margin: 45px 0 0; }
  .stages-order-box h3 {
    font-weight: bold;
    font-size: 45px;
    margin: 0 0 45px;
    color: #1F2666; }

.stages-order-box-max {
  max-width: calc(100% - 445px - 445px - 23px - 23px);
  margin: 0; }
  .stages-order-box-max .box-text {
    max-width: none; }

.stages-order-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

/*==========  section stages-order end  ==========*/
/*==========  section professions ==========*/
.professions {
  margin: 80px 0 60px; }
  .professions .decor1 {
    top: 250px; }

.decor4 {
  top: 20px;
  left: 60px; }

/*==========  section professions end  ==========*/
/*==========  section  ==========*/
.video-section {
  margin: 60px 0; }

.video-block {
  width: 100%;
  position: relative;
  height: 401px;
  z-index: 1;
  overflow: hidden; }
  .video-block:before {
    content: '';
    position: absolute;
    background: -webkit-gradient(linear, left bottom, left top, from(rgba(31, 38, 102, 0.81)), to(rgba(31, 38, 102, 0.81)));
    background: linear-gradient(0deg, rgba(31, 38, 102, 0.81), rgba(31, 38, 102, 0.81));
    width: 100%;
    height: 100%;
    left: 0;
    top: 0; }
  .video-block img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover; }

.btn-play {
  position: absolute;
  z-index: 1;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 258px;
  height: 258px;
  background: rgba(31, 38, 102, 0.79);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 4px solid #527BFF;
    border-radius: 50%; }
  .btn-play img {
    max-width: 84px;
    height: auto;
    -o-object-fit: none;
       object-fit: none;
    margin: 0 -4px 0 4px; }

/*==========  section end  ==========*/
/*==========  section seo-section ==========*/
.seo-section h2 {
  text-align: left; }

.seo-block {
  margin: 80px 0 0; }
  .seo-block h3 {
    font-weight: bold;
    margin: 0 0 45px;
    font-size: 40px; }
  .seo-block .box-text {
    font-size: 18px;
    line-height: 22px;
    font-weight: 400;
    max-width: 1620px; }

.seo-section-content {
  padding: 0 0 0 30px; }

/*==========  section seo-section end  ==========*/
/*==========  section command ==========*/
.command {
  margin: 80px 0 60px; }

.command-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.command-box {
  text-align: center;
  margin: 0 0 30px;
  padding: 20px 30px;
  font-size: 28px;
  max-width: 270px;
  width: 100%; }
  .command-box h3 {
    font-weight: bold;
    margin: 0 auto 12px; }
  .command-box__photo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    overflow: hidden;
    margin: 0 auto 27px;
    width: 150px;
    height: 150px;
    border-radius: 50%; }
    .command-box__photo img {
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
         object-fit: cover; }

/*==========  section command end  ==========*/
/*==========  section discount ==========*/
.discount {
  margin: 80px 0 0; }

.discount-wrapper {
  width: 100%;
  position: relative;
  background: linear-gradient(85.85deg, #3EBFB4 20.82%, #1F2666 100.65%);
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  .discount-wrapper:before {
    content: '';
    position: absolute;
    top: -81px;
    right: -61px;
    width: 197px;
    height: 197px;
    background: url("../img/star.svg") no-repeat center;
      background-size: 100%; }

.discount-image {
  position: relative;
  z-index: 1;
  height: 100%;
  padding: 70px 0 70px 24px;
  max-width: 660px;
  width: 100%; }
  .discount-image:before {
    content: '';
    position: absolute;
    z-index: -1;
    left: 0;
    bottom: 0;
    height: 100%;
    width: 852px;
    background: url("../img/star2.svg") no-repeat left center;
      background-size: 100%; }

.discount-content {
  position: relative;
  z-index: 1;
  width: calc(100% - 660px);
  padding: 0 50px 0 0; }
  .discount-content h2 {
    text-align: left;
    margin: 0 0 69px; }
  .discount-content .box-text {
    font-size: 20px;
    font-weight: bold; }
    .discount-content .box-text p {
      margin: 0 0 47px; }
      .discount-content .box-text p:last-child {
        margin: 0; }

.form-discount {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 69px 0 0; }
  .form-discount label {
    padding: 0 10px 0 0;
    max-width: 32%; }
  .form-discount button {
    max-width: 32%;
    width: 100%;
    border-radius: 15px; }

/*==========  section discount end  ==========*/
/*==========  section popular-product-slider ==========*/
.popular-product-slider {
  padding: 0 10px; }
  .popular-product-slider .slick-slide {
    padding: 0 15px; }

.seo-section-v2 {
  margin: 60px 0; }
  .seo-section-v2 .seo-block {
    margin: 0 0 80px; }
    .seo-section-v2 .seo-block:last-child {
      margin: 0; }

/*==========  section popular-product-slider end  ==========*/
/*==========  section catalog ==========*/
.catalog {
  margin: 80px 0 40px; }

.sidebar {
  padding: 110px 0 0;
  max-width: 354px;
  width: 100%; }
  .sidebar .category-links {
    max-width: none;
    margin: 0 0 11px; }

.catalog-category-slider .slick-slide {
  padding: 0 15px; }

.catalog-category {
  margin: 0 0 60px; }
  .catalog-category h3 {
    margin: 0 0 45px;
    font-weight: bold;
    font-size: 45px;
    padding: 0 0 0 10px; }

/*==========  section catalog end  ==========*/
/*==========  section product ==========*/
.product-page .product-card__price {
  margin: 18px 0 0; }

.product-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  .product-title .availability-box {
    position: relative;
    top: 0;
    right: 0;
    -webkit-transform: none;
            transform: none;
    margin: 0 0 0 auto; }

.product-info {
  max-width: 332px; }

.list-characteristics {
  margin: 0 0 35px;
  font-size: 25px; }
  .list-characteristics p {
    font-weight: bold;
    min-width: 200px; }
  .list-characteristics li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 0 35px; }
    .list-characteristics li:last-child {
      margin: 0; }

.product-category {
  margin: 0 0 2px;
  color: #6D6D6D;
  font-size: 14px; }

.description-product {
  margin: 115px 0 0; }

.description-product-box {
  margin: 0 0 30px; }
  .description-product-box:last-child {
    margin: 0; }
  .description-product-box .box-text {
    font-size: 20px;
    color: #1F2666;
    line-height: 24px; }
  .description-product-box h3 {
    margin: 0 0 30px;
    font-size: 25px;
    font-weight: bold;
    color: #1F2666; }

.product-content {
  max-width: 645px;
  width: 100%;
  margin: 0 auto; }

.product-photo .availability-box {
  display: none; }

.product-photo .product-photo-item {
  background: linear-gradient(180.04deg, rgba(255, 255, 255, 0.2) 0.03%, rgba(255, 255, 255, 0.2) 73.51%), #F8F8F8;
  border-radius: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 370px;
  width: 100%;
  margin: 0 auto;
  height: 457px;
  padding: 70px; }
  .product-photo .product-photo-item img {
    max-height: 100%; }

.product-preview {
  margin: 23px 0 0; }
  .product-preview .slick-slide {
    padding: 0 10px; }
  .product-preview .slick-next {
    right: -11px; }
  .product-preview .slick-prev {
    left: -11px; }
  .product-preview .product-photo-item {
    cursor: pointer; }

.product-photo-item {
  height: 217px;
  width: 100%;
  background: linear-gradient(180.04deg, rgba(255, 255, 255, 0.2) 0.03%, rgba(255, 255, 255, 0.2) 73.51%), #F8F8F8;
  border-radius: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 34px; }
  .product-photo-item img {
    max-height: 100%; }

/*==========  section product end  ==========*/
/*==========  section reviews-slider ==========*/
.reviews-v2 {
  margin: 80px 0; }

.reviews-slider .slick-prev {
  left: -10px; }

.reviews-slider .slick-next {
  right: -10px; }

.reviews-slider .slick-slide {
  padding: 0 10px; }

/*==========  section reviews-slider end  ==========*/
/*==========  section  ==========*/
/*==========  section end  ==========*/
/*==========  section  ==========*/
/*==========  section end  ==========*/
/*==========  section  ==========*/
/*==========  section end  ==========*/
/*==========  section reviews ==========*/
.reviews {
  margin: 80px 0 13px; }

.reviews-box {
  width: 100%;
  height: 390px;
  background: #C4C4C4; }

.reviews-wrapper {
  position: relative; }
  .reviews-wrapper:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 432px;
    background: -webkit-gradient(linear, left bottom, left top, color-stop(17.42%, #FFFFFF), color-stop(75%, rgba(255, 255, 255, 0)));
    background: linear-gradient(0deg, #FFFFFF 17.42%, rgba(255, 255, 255, 0) 75%); }

.btn-all {
  position: absolute;
  z-index: 1;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  bottom: 132px; }

/*==========  section reviews end  ==========*/
